{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}"/>
    <link rel="stylesheet" href="{% static "chat.css" %}">
    <title>Chat application</title>
</head>
<body>
<div class="chat_window">
    <div class="top_menu">
        <!--div class="buttons">
            <div class="button close"></div>
            <div class="button minimize"></div>
            <div class="button maximize"></div>
        </div-->
        <div class="title">Discussion With: <span id="buddy"></span></div>
    </div>
    <ul class="messages"></ul>
    <div class="bottom_wrapper clearfix">
        <div class="message_input_wrapper"><input class="message_input" disabled="disabled"/></div>
        <div class="send_message disabled">
            <div class="icon"></div>
            <div class="text">Send</div>
        </div>
    </div>
</div>
<div class="message_template">
    <li class="message">
        <div class="avatar"></div>
        <div class="text_wrapper">
            <div class="text"></div>
        </div>
        <div class="datetime"></div>
    </li>
</div>
<script>
    var username = "{{ user.username }}";
    var buddy;
</script>
<script src="{% static "prototype.js" %}"></script>
<script src="{% static "bower_components/jquery/dist/jquery.js" %}"></script>
<script src="{% static "socket.js" %}"></script>
<script src="{% static "chat.js" %}"></script>
</body>
</html>