{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fa">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>قالب مدیریتی اساک</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link href="{% static "assets/css/icons/icomoon/styles.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/bootstrap.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/core.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/components.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "assets/css/colors.css" %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static "chat.css" %}">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/pace.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/libraries/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/core/libraries/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/loaders/blockui.min.js" %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="{% static "assets/js/plugins/visualization/d3/d3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/visualization/d3/d3_tooltip.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/switchery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/forms/styling/uniform.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "assets/js/plugins/forms/selects/bootstrap_multiselect.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/ui/moment/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/pickers/daterangepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "assets/js/plugins/pickers/jalali.js" %}"></script>

    <script type="text/javascript" src="{% static "assets/js/core/app.js" %}"></script>
    <!-- /theme JS files -->

</head>

<body>

<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><img src="{% static "assets/images/logo_light.png" %}" alt=""></a>
        <ul class="nav navbar-nav visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-git-compare"></i>
                    <span class="visible-xs-inline-block position-right">بروزرسانی ها</span>
                    <span class="badge bg-warning-400">9</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        اخرین بروزرسانی ها
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-sync"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-350">
                        <li class="media">
                            <div class="media-left">
                                <a href="#"
                                   class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i
                                        class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت ...
                                <div class="media-annotation">۴ دقیقه قبل</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#"
                                   class="btn border-warning text-warning btn-flat btn-rounded btn-icon btn-sm"><i
                                        class="icon-git-commit"></i></a>
                            </div>

                            <div class="media-body">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت ...
                                <div class="media-annotation">۳۶ دقیقه قبل</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#" class="btn border-info text-info btn-flat btn-rounded btn-icon btn-sm"><i
                                        class="icon-git-branch"></i></a>
                            </div>

                            <div class="media-body">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت ...
                                <div class="media-annotation">۲ ساعت قبل</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#"
                                   class="btn border-success text-success btn-flat btn-rounded btn-icon btn-sm"><i
                                        class="icon-git-merge"></i></a>
                            </div>

                            <div class="media-body">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت ...
                                <div class="media-annotation">۱۸:۳۶</div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left">
                                <a href="#"
                                   class="btn border-primary text-primary btn-flat btn-rounded btn-icon btn-sm"><i
                                        class="icon-git-pull-request"></i></a>
                            </div>

                            <div class="media-body">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت ...
                                <div class="media-annotation">۰۵:۴۶</div>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="تمام فعالیت ها"><i class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-people"></i>
                    <span class="visible-xs-inline-block position-right">کاربران</span>
                </a>

                <div class="dropdown-menu dropdown-content">
                    <div class="dropdown-content-heading">
                        کاربران انلاین
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-gear"></i></a></li>
                        </ul>
                    </div>

                    <ul class="media-list dropdown-content-body width-300">
                        <li class="media">
                            <div class="media-left"><img src="{% static "assets/images/placeholder.jpg" %}"
                                                         class="img-circle img-sm"
                                                         alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">مجتبی</a>
                                <span class="display-block text-muted text-size-small">توسعه دهنده وب</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="{% static "assets/images/placeholder.jpg" %}"
                                                         class="img-circle img-sm"
                                                         alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">علی</a>
                                <span class="display-block text-muted text-size-small">بازاریاب</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-danger"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="{% static "assets/images/placeholder.jpg" %}"
                                                         class="img-circle img-sm"
                                                         alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">فریبا</a>
                                <span class="display-block text-muted text-size-small">مدیر پروژه</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-success"></span></div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="{% static "assets/images/placeholder.jpg" %}"
                                                         class="img-circle img-sm"
                                                         alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">محمد</a>
                                <span class="display-block text-muted text-size-small">توسعه دهنده کسب و کار</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-warning-300"></span>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-left"><img src="{% static "assets/images/placeholder.jpg" %}"
                                                         class="img-circle img-sm"
                                                         alt=""></div>
                            <div class="media-body">
                                <a href="#" class="media-heading text-semibold">وحید</a>
                                <span class="display-block text-muted text-size-small">طراح گرافیک</span>
                            </div>
                            <div class="media-right media-middle"><span class="status-mark border-grey-400"></span>
                            </div>
                        </li>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="تمام کاربران"><i
                                class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-bubbles4"></i>
                    <span class="visible-xs-inline-block position-right">پیام ها</span>
                    <span data-notification="0" id="userNotifications" class="badge bg-warning-400">0</span>
                </a>

                <div class="dropdown-menu dropdown-content width-350">
                    <div class="dropdown-content-heading">
                        پیام ها
                        <ul class="icons-list">
                            <li><a href="#"><i class="icon-compose"></i></a></li>
                        </ul>
                    </div>

                    <ul class="notifications-list media-list dropdown-content-body">
                        <div class="notification-list-template">
                            <li class=" media">
                                <div class="media-left">
                                    <img src="{% static "assets/images/placeholder.jpg" %}"
                                         class="img-circle img-sm"
                                         alt="">
                                    <span class="collected-item badge bg-danger-400 media-badge"></span>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="notification-link media-heading">
                                        <span class="text-semibold"></span>
                                        <span class="media-annotation pull-right"></span>
                                    </a>
                                    <span class="text-muted"></span>
                                </div>
                            </li>
                        </div>
                    </ul>

                    <div class="dropdown-content-footer">
                        <a href="#" data-popup="tooltip" title="تمام پیام ها"><i
                                class="icon-menu display-block"></i></a>
                    </div>
                </div>
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="{% static "assets/images/placeholder.jpg" %}" alt="">
                    <span>علی</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i>پروفایل من</a></li>
                    <li><a href="#"><span class="badge badge-warning pull-right">۵۸</span> <i
                            class="icon-comment-discussion"></i> پیام ها</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> تنظیمات حساب کاربری</a></li>
                    <li><a href="#"><i class="icon-switch2"></i> خروج</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-main">
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="category-content">
                        <div class="media">
                            <a href="#" class="media-left"><img src="{% static "assets/images/placeholder.jpg" %}"
                                                                class="img-circle img-sm" alt=""></a>
                            <div class="media-body">
                                <span class="media-heading text-semibold">علی دانافر</span>
                                <div class="text-size-mini text-muted">
                                    <i class="icon-pin text-size-small"></i> &nbsp;ایران, قوچان
                                </div>
                            </div>

                            <div class="media-right media-middle">
                                <ul class="icons-list">
                                    <li>
                                        <a href="#"><i class="icon-cog3"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="sidebar-category sidebar-category-visible">
                    <div class="category-content no-padding">
                        <ul class="navigation navigation-main navigation-accordion">

                            <!-- Main -->
                            <li class="navigation-header"><span>اصلی</span> <i class="icon-menu" title="Main pages"></i>
                            </li>
                            <li class="active"><a href="index.html"><i class="icon-home4"></i> <span>داشبورد</span></a>
                            </li>
                            <li></li>
                            <!-- /main -->

                            <!-- Forms -->
                            <li class="navigation-header"><span>فرم ها</span> <i class="icon-menu" title="Forms"></i>
                            </li>
                            <li>
                                <a href="#"><i class="icon-pencil3"></i> <span>اجزای فرم</span></a>
                                <ul>
                                    <li><a href="form_inputs_basic.html">ورودی های عمومی</a></li>
                                    <li><a href="form_checkboxes_radios.html">چک باکس ها و رادیو</a></li>
                                    <li><a href="form_input_groups.html">گروه های ورودی</a></li>
                                    <li><a href="form_controls_extended.html">ورودی های کنترل شده</a></li>
                                    <li>

                                    </li>
                                    <li><a href="form_validation.html">اعتبارسنجی</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="wizard_steps.html"><i class="icon-footprint"></i> <span>فرم Wizard</span></a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-select2"></i> <span>انتخاب کننده</span></a>
                                <ul>
                                    <li><a href="picker_color.html">رنگ ها</a></li>
                                </ul>
                            </li>
                            <li>
                            </li>
                            <!-- /forms -->

                            <!-- Appearance -->
                            <li class="navigation-header"><span>ظاهر</span> <i class="icon-menu" title="Appearance"></i>
                            </li>
                            <li>
                                <a href="#"><i class="icon-grid"></i> <span>اجزا</span></a>
                                <ul>
                                    <li><a href="components_tabs.html">ظاهر زبانه ها</a></li>
                                    <li><a href="components_navs.html">اکاردئون</a></li>
                                    <li><a href="components_buttons.html">دکمه ها</a></li>
                                    <li><a href="components_notifications_pnotify.html">نوتیفیکیشن (اطلاعیه ها)</a></li>
                                    <li><a href="components_alerts.html">هشدارها</a></li>
                                    <li><a href="components_pagination.html">صفحه بندی</a></li>
                                    <li><a href="components_loaders.html">لودر و بروگرس بار</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-puzzle2"></i> <span>ظاهر محتوا</span></a>
                                <ul>
                                    <li><a href="appearance_content_panels.html">پنل ها</a></li>
                                    <li><a href="appearance_draggable_panels.html">پنل های قابل جابجایی</a></li>
                                    <li><a href="appearance_text_styling.html">استایل متن ها</a></li>
                                    <li><a href="appearance_typography.html">تایپوگرافی</a></li>
                                </ul>
                            </li>
                            <li>

                            </li>
                            <li>
                                <a href="#"><i class="icon-spinner2 spinner"></i> <span>انیمیشن ها</span></a>
                                <ul>
                                    <li><a href="animations_css3.html">انیمیشن های CSS3</a></li>
                                    <li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-thumbs-up2"></i> <span>ایکون ها</span></a>
                                <ul>
                                    <li><a href="icons_glyphicons.html">Glyphicons</a></li>
                                    <li><a href="icons_icomoon.html">Icomoon</a></li>
                                    <li><a href="icons_fontawesome.html">Font awesome</a></li>
                                </ul>
                            </li>
                            <!-- /appearance -->

                            <!-- Data visualization -->
                            <li>
                            </li>

                            </li>
                            <!-- /data visualization -->

                            <!-- Extensions -->
                            <li class="navigation-header"><span>افزودنه ها</span> <i class="icon-menu"
                                                                                     title="Extensions"></i></li>
                            <li>
                            </li>
                            <li>
                                <a href="uploader_bootstrap.html"><i class="icon-upload"></i>
                                    <span>اپلود فایل</span></a>
                            </li>
                            <li>
                                <!-- /extensions -->

                                <!-- Tables -->
                            <li class="navigation-header"><span>جدول ها</span> <i class="icon-menu" title="Tables"></i>
                            </li>
                            <li>
                                <a href="table_styling.html"><i class="icon-grid7"></i> <span>جدول ها</span></a>
                            </li>
                            </li>
                            </li>
                            <!-- /tables -->

                            <!-- Page kits -->
                            <li class="navigation-header"><span>صفحات دیگر</span> <i class="icon-menu"
                                                                                     title="Page kits"></i></li>
                            <li>
                                <a href="#"><i class="icon-cash3"></i> <span>صورتحساب</span></a>
                                <ul>
                                    <li><a href="invoice_template.html">قالب های صورتحساب</a></li>
                                    <li><a href="invoice_archive.html">ارشیو صورتحساب ها</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-people"></i> <span>صفحات کاربری</span></a>
                                <ul>
                                    <li><a href="user_pages_list.html">لیست کاربران</a></li>
                                    <li><a href="user_pages_profile_cover.html">پروفایل همراه کاور</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-user-plus"></i> <span>ورود و عضویت</span></a>
                                <ul>
                                    <li><a href="login_simple.html">ورود ساده</a></li>
                                    <li><a href="login_advanced.html">اطلاعات بیشتر در فرم ورود</a></li>
                                    <li><a href="login_registration.html">عضویت ساده</a></li>
                                    <li><a href="login_registration_advanced.html">اطلاعات بیشتر در فرم عضویت</a></li>
                                    <li><a href="login_unlock.html">انبلاک شدن کاربر</a></li>
                                    <li><a href="login_password_recover.html">بازیابی کلمه عبور</a></li>
                                    <li><a href="login_hide_navbar.html">مخفی کردن نوار هدر</a></li>
                                    <li><a href="login_transparent.html">جعبه شفاف</a></li>
                                    <li><a href="login_background.html">گزینه ها پس زمینه</a></li>
                                    <li><a href="login_validation.html">همراه اعتبار سنجی اطلاعات</a></li>
                                    <li><a href="login_tabbed.html">دارای تب ورود و عضویت</a></li>
                                    <li><a href="login_modals.html">بصورت پاپ اپ</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-lifebuoy"></i> <span>پشتیبانی</span></a>
                                <ul>
                                    <li><a href="support_conversation_layouts.html">طرح بندی گفتگوها</a></li>
                                    <li><a href="support_knowledgebase.html">پیگاه دانش</a></li>
                                    <li><a href="support_faq.html">سوالات متداول</a></li>
                                </ul>
                            </li>
                            <li>
                            </li>
                            <li>
                                <a href="#"><i class="icon-images2"></i> <span>گالری</span></a>
                                <ul>
                                    <li><a href="gallery_grid.html">بصورت شبکه ای</a></li>
                                    <li><a href="gallery_titles.html">رسانه به همراه عنوان</a></li>
                                    <li><a href="gallery_description.html">رسانه به همراه توضیحات</a></li>
                                    <li><a href="gallery_library.html">کتابخانه رسانه</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="icon-warning"></i> <span>صفحات ارور</span></a>
                                <ul>
                                    <li><a href="error_403.html">ارور ۴۰۳</a></li>
                                    <li><a href="error_404.html">ارور ۴۰۴</a></li>
                                    <li><a href="error_405.html">ارور ۴۰۵</a></li>
                                    <li><a href="error_500.html">ارور ۵۰۰</a></li>
                                    <li><a href="error_503.html">ارور ۵۰۳</a></li>
                                    <li><a href="error_offline.html">صفحه افلاین</a></li>
                                </ul>
                            </li>
                            <!-- /page kits -->

                        </ul>
                    </div>
                </div>
                <!-- /main navigation -->

            </div>
        </div>
        <!-- /main sidebar -->

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-right6 position-left"></i> <span class="text-semibold">خانه</span> -
                            پیام رسان</h4>
                    </div>

                    <div class="heading-elements">
                        <div class="heading-btn-group">
                            <a href="#" class="btn btn-link btn-float has-text"><i
                                    class="icon-bars-alt text-primary"></i><span>امار</span></a>
                            <a href="#" class="btn btn-link btn-float has-text"><i
                                    class="icon-calculator text-primary"></i> <span>صورتحساب ها</span></a>
                            <a href="#" class="btn btn-link btn-float has-text"><i
                                    class="icon-calendar5 text-primary"></i> <span>برنامه</span></a>
                        </div>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a href="index.html"><i class="icon-home2 position-left"></i> خانه</a></li>
                        <li class="active">داشبورد</li>
                    </ul>

                    <ul class="breadcrumb-elements">
                        <li><a href="#"><i class="icon-comment-discussion position-left"></i> پشتیبانی</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-gear position-left"></i>
                                تنظیمات
                                <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#"><i class="icon-user-lock"></i> امنیت حساب کاربری</a></li>
                                <li><a href="#"><i class="icon-statistics"></i> انالیز</a></li>
                                <li><a href="#"><i class="icon-accessibility"></i> دسترسی</a></li>
                                <li class="divider"></li>
                                <li><a href="#"><i class="icon-gear"></i>تمام تنظیمات</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">

                <!-- Main charts -->
                <div class="row">
                    <div class="col-lg-12">

                        <!-- Messaging -->
                        <div class="panel panel-flat">
                            {% block content %}{% endblock %}
                        </div>
                        <!-- /traffic sources -->

                    </div>
                </div>
                <!-- /main charts -->

                <!-- Footer -->
                <div class="footer text-muted">
                    &copy; ۲۰۱۶. <a href="#">فارسی و راستچین شده</a> توسط <a href="http://codecanyons.ir"
                                                                             target="_blank">کدکانیونز</a>
                </div>
                <!-- /footer -->

            </div>
            <!-- /content area -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Socket -->
{% block scripts %}

{% endblock %}
<!-- /Socket -->

</body>
</html>
