{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="chat_window">
        <div class="top_menu">
            <div class="title">گفت و گو با:<span id="buddy"></span></div>
        </div>
        <ul class="messages"></ul>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input class="message_input" disabled="disabled"/>
            </div>
            <div class="send_message disabled">
                <div class="icon"></div>
                <div class="text">ارسال</div>
            </div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
            <div class="datetime"></div>
            <div class="username"></div>
        </li>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        var username = "{{ user.username }}";
        var buddy = "{{ buddy }}";
        var room = "{{ room }}";
    </script>
    <script type="text/javascript" src="{% static "reconnecting-websocket.min.js" %}"></script>
    <script type="text/javascript" src="{% static "socket.js" %}"></script>
    <script type="text/javascript" src="{% static "chat.js" %}"></script>
    <script type="text/javascript" src="{% static "notifications.js" %}"></script>
{% endblock %}