{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="panel-heading">
      <h5 class="panel-title">All users to chat: </h5>
      <a class="heading-elements-toggle"><i class="icon-menu"></i></a></div>
    <ul class="messages" style="overflow: unset">
      {% for user in users_list %}
        <li class="message left appeared">
          <a href="{% url 'room_view' buddy=user.fields.username %}">
          <div class="avatar"></div>
          <div class="text_wrapper">
              <div class="text">{{ user.fields.username }}</div>
          </div>
          <div class="datetime left"></div>
          <div class="username left"></div>
          </a>
        </li>  
        {% empty %}
          <li class="message left appeared">
              <div class="text_wrapper">
                  <div class="text">No body to speak.</div>
              </div>
            </li>    
      {% endfor %}
    </ul>
  </div>
{% endblock %}

{% block scripts %}
    <script>
        var username = "{{ user.username }}";
        var room = null;
        $(document).ready(function () {
            notificationsSocket = new Socket(NotificationsEvent);
        });
    </script>
    <script type="text/javascript" src="{% static "reconnecting-websocket.min.js" %}"></script>
    <script type="text/javascript" src="{% static "socket.js" %}"></script>
    <script type="text/javascript" src="{% static "notifications.js" %}"></script>
{% endblock %}